# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '@(a3yjcc-d3rtt)q7n(tvdfhe4$%u2(dvkd9^cg26+4wmih7l7'

DEFAULT_AUTO_FIELD = 'django.db.models.AutoField'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

# set UI_HOSTNAME when the API and UI are on separate hosts
UI_HOSTNAME = None

# PXE host settings

CONTRACTOR_HOST = 'http://contractor/'
PXE_IMAGE_LOCATION = 'http://static/pxe/'

# set to None to disable, or '*CONSOLE*' to output to stdout
# NOTE: if you are running under apache under systemd, you might want to
#       disable "PrivateTmp" in /lib/systemd/system/apache2.service, otherwise
#       this location will be in a /tmp/systemd-private-642338ab7569487cace3420cfe6dbf01-apache2.service-vBR2Zn
#       type directory
DEBUG_DUMP_LOCATION = '/tmp'

# get plugins
import os
from contractor import plugins

plugin_list = []
plugin_dir = os.path.dirname( plugins.__file__ )
for item in os.scandir( plugin_dir ):
  if not item.is_dir() or not os.path.exists( os.path.join( plugin_dir, item.name, 'models.py' ) ):
    continue

  plugin_list.append( 'contractor.plugins.{0}'.format( item.name ) )

# Application definition
INSTALLED_APPS = (
    'contractor.Auth',
    'contractor.Directory',
    'contractor.Site',
    'contractor.BluePrint',
    'contractor.Utilities',
    'contractor.Building',
    'contractor.Survey',
    'contractor.Foreman',
    'contractor.SubContractor',
    'contractor.PostOffice',
    'contractor.Records',
    *plugin_list,
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions'
)

MIDDLEWARE_CLASSES = (
)

ROOT_URLCONF = ''

WSGI_APPLICATION = 'contractor.wsgi.application'


# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'contractor',
        'USER': 'contractor',
        'PASSWORD': 'contractor',
        'HOST': '127.0.0.1',
        'PORT': '',
    }
}

MONGO_HOST = 'mongodb://127.0.0.1:27017/'

# Internationalization
# https://docs.djangoproject.com/en/1.8/topics/i18n/

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True

USE_L10N = True

USE_TZ = True


# Bind Zone file Settings
# NOTE: email should have a '.' in place of the '@', in most cases
# it dose not have to be a real email address
BIND_ALLOW_TRANSFER = []
BIND_SOA_EMAIL = 'hostmaster.site.test'
BIND_NS_NETWORKED_LIST = [ 1 ]
