[Unit]
Description=Contractor API Server
After=network.target

[Service]
Type=simple
WorkingDir=/usr/lib/contractor/api_server
ExecStart=/usr/lib/contractor/api_server/api_server.py

[Install]
WantedBy=mutli-user.target
