Source: contractor
Section: t3kton
Priority: optional
Maintainer: Peter Howe <pnhowe@gmail.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7), python3 (>= 3.4), python3-dev (>=3.4), python3-setuptools (>=20.0), lsb-release
Standards-Version: 3.8.3
X-Python-Version: >= 3.4

Package: contractor
Architecture: all
Depends: python-django (>= 1.7), python-simplejson, apache2, libapache2-mod-wsgi, libapache2-mod-python, postgresql-client-9.3, python-psycopg2, python-magic, python-cinp (>= 0.7), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Contractor
  Contractor

